@font-face {
  font-family: PTRootUI;
  src: url('/src/assets/fonts/PT-Root-UI/pt-root-ui_regular.woff2') format('woff2'),
       url('/src/assets/fonts/PT-Root-UI/pt-root-ui_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PTRootUI;
  src: url('/src/assets/fonts/PT-Root-UI/pt-root-ui_bold.woff2') format('woff2'),
       url('/src/assets/fonts/PT-Root-UI/pt-root-ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: PTRootUI;
  src: url('/src/assets/fonts/PT-Root-UI/pt-root-ui_light.woff2') format('woff2'),
       url('/src/assets/fonts/PT-Root-UI/pt-root-ui_light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: PTRootUI;
  src: url('/src/assets/fonts/PT-Root-UI/pt-root-ui_medium.woff2') format('woff2'),
       url('/src/assets/fonts/PT-Root-UI/pt-root-ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-matcha: #748f3f;
  --color-creme-light: #ffffe6;
  --color-creme-medium: #fffff8;
  --font-ptrootui: PTRootUI, "sans-serif"
}

body {
  background-color: #ffffe6;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1.75s step-start infinite;
}

